<div style="text-align: center">
  <h3><%= @user.name %>'s page</h3>
  E-mail: <%= @user.email %>
  <br>
  Registered: <%= @user.created_at.strftime('%d-%b-%Y') %>
  <div>
    <%= link_to 'Home', root_path %>
  </div>
</div>