<div class="home">

  <div id="last_moods">
    <h2>Последние настроения:</h2>
  </div>

  <div class="moods_list">
    <% @moods.each do |mood| %>

        <div>
           У <%= link_to "#{mood.user.name}", user_path(mood.user) %> было <%= t mood.status %> настроение <%= time_ago_in_words(mood.created_at) %> назад
        </div>
    <% end %>
  </div>

  <div class="statistics">

    <div id="statistic">
      <h2>Статистика</h2>
    </div>

    <div class="average_mood">
      <h3>Среднее настроение пользователей</h3>
      <h2><%= t(MoodCalculator.weight_to_word(@average_mood)) %></h2>
    </div>
  </div>



</div>