// Place all the styles related to the users controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_page{
  width: 1024px;
  margin: auto;

  .user_name{
    margin-left: 55px;
    margin-top: 50px;
  }

  .how_are_you{
    margin-left: 55px;
    margin-right: 45px;
    .variants{
      a:link, a:visited {
        width: auto;
        color: darkblue;
        text-decoration: none;
        font-size: 60px;
      }
      .bad{
        background: lightgrey;
        float: left;
        border: solid darkblue 1px;
        border-right: 0.5px;
        text-align: center;
        border-radius: 5px;
        padding-left: 40px;
        padding-right: 40px;
      }
      .good{
        background: lightgrey;
        float: left;
        border: solid darkblue 1px;
        text-align: center;
        border-radius: 5px;
        padding-left: 30px;
        padding-right: 30px;
      }
      .great{
        background: lightgrey;
        float: left;
        border: solid darkblue 1px;
        text-align: center;
        border-left: 0.5px;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .moods_list{
    float: left;
    font-size: 22px;
    margin-left: 85px;
  }

  .average_mood{
    margin-top: 470px;
    margin-left: 55px;
    text-align: center;
  }
}

.user_form{
  width: 1024px;
  margin: 40px auto;
  font-size: 20px;

  #reg{
    text-align: center;
  }

  .label_tag{
    margin-left: 300px;
  }

  .email_field{
    border: solid darkblue 1px;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .name_field{
    border: solid darkblue 1px;
    border-radius: 5px;
    margin-left: 161px;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .password_field{
    border: solid darkblue 1px;
    border-radius: 5px;
    margin-left: 130px;
    font-size: 18px;
    padding-left: 5px;
    margin-bottom: 5px;
  }

  .confirm_password_field{
    border: solid darkblue 1px;
    border-radius: 5px;
    margin-left: 29px;
    font-size: 18px;
    margin-bottom: 5px;
    padding-left: 5px;
  }

  .register_button{
    font-size: 18px;
    margin-top: 15px;
    height: 30px;
    width: 200px;
    margin-left: 40%;
    border-radius: 5px;
  }
}


